@chasert "utf-8";

html {
    height: 100%;
}
body {
    height: 100%;
    background: linear-gradient(180deg, #3c4767 0%, #3c4767 60%, #df563b 100%)
        0% 0% no-repeat padding-box;
}
header {
    padding: 5% 0;
}

h1.dawn-sns-logo {
    text-align: center;
}

.dawn-sns-message {
    text-align: center;
    color: #fffefe;
    font: normal normal normal 28px/42px Meiryo;
    letter-spacing: 0;
}

#container {
    background: #0000002b 0% 0% no-repeat padding-box;
    border-radius: 5px;
    max-width: 280px;
    margin: auto;
    text-align: right;
    color: #fffefe;
    font: normal normal normal 14px/21px Meiryo;
}
form {
    max-width: 230px;
    margin: auto;
}
.login-link {
    padding: 32px 0 20px;
    text-align: center;
}
.login-link a {
    color: #fffefe;
    font-size: 0.8rem;
}

h2 {
    text-align: center;
    padding: 22px 0 40px;
}

label {
    font-size: 0.8rem;
    text-align: left;
    display: block;
}
.input {
    margin-bottom: 10px;
    width: 220px;
}
.error-message {
    font-size: 0.8rem;
    text-align: center;
    color: #d30;
    margin-top: -4px;
}

input[type="submit"],
.btn {
    background: #4b71cab3 0% 0% no-repeat padding-box;
    border-radius: 6px;
    border: none;
    padding: 4px 16px;
    color: #fffefe;
    letter-spacing: 1.5px;
}
.btn {
    max-width: 120px;
    margin: auto;
}
.btn > a {
    color: #fffefe;
}

.welcome-text {
    padding-bottom: 30px;
}

div#clear {
    text-align: center;
    padding: 30px 0 40px;
}
